.footer{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-content: center;
}
footer{
  width: 100%;
}
.footer p {
  color: #ffffff;
  background: #000000;
  text-align: center;
  margin: 0;
  font-size: 30px;
  width: 100%;
}
@media (max-width: 991px){
  .footer-container p{
    font-size: 30px;
  }
}