.footer h6 {
  margin: 0px;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.footer p {
  color: #ffffff;
  background: #000000;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

@media (min-height: 20px) {
  .footer p {
    font-size: 20x;
  }
}
