body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 991px){
  .contenido article{
      min-width: 100%;
    }
    .logo{
      width: 100%;
      top: 4%;
    }
  .imagen-encima {
    width: 100vw; /* Ancho relativo a la ventana de visualización */
        height: 30vw; /* Mantiene la altura automática */
        top: 8%; /* Ajustar la posición del logo para móviles */
        width: 300px !important; /* Forzar el ancho */
        .imagenrecuadro{
          border: 5px solid rgb(51, 0, 102); /* Ajusta el grosor y el color del borde */
            border-radius: 10px; /* Opcional: agrega bordes redondeados */
            padding: 5px; /* Opcional: agrega espacio entre el borde y la imagen */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: agrega una sombra */
        }

  }
}
