body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 991px){
  .contenido article{
      min-width: 100%;
    }
    .logo{
      width: 100%;
      top: 5%; /* Ajusta la posición del logo para móviles */
    }
  .imagen-encima {
      top: 10%; /* Ajusta la posición de la imagen superpuesta para móviles */
  }
  header {
    height: 250px; /* Altura del header para dispositivos móviles */
}
}
