body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 991px){
  .contenido article{
      min-width: 35%;
    }
    .logo{
      width: 35%;
      top: 4%; /* Ajusta la posición del logo para móviles */
    }
  .imagen-encima {
      top: 7%; /* Ajusta la posición de la imagen superpuesta para móviles */
  }
}
