#boton01, #boton02, #boton03, #boton04, #boton05, #boton06, #boton07, #boton08{
    display: none;
    font-size: 30px;
    background-color: rgb(146, 146, 146);
}
#caja1, #caja2, #caja3, #caja4, #caja5, #caja6, #caja7, #caja8{
    display: none;
    font-size: 26px;
}
.menu-button {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    cursor: pointer; 
    z-index: 1000;
}

.line {
    height: 20px; 
    width: 130px; 
    background-color: rgb(51, 0, 102);
    margin: 5px 0; 
    transition: background-color 0.3s; 
}
.menu {
    position: fixed;
    top: 305px; 
    left: 0;
    background-color:rgb(51, 0, 102); 
    padding: 15px;
    border-radius: 0; 
    z-index: 999; 
    text-align: center;
    width: 0; 
    height: calc(100vh - 90px); 
    font-size: 23px;
    overflow: hidden; 
    transition: width 0.5s ease; 
    display: none; 
}
.menu a {
    color: rgb(230, 230, 250); 
    text-decoration: none; 
    display: block; 
    margin: 20px 0; 
    font-size: 32px; 
    font-family: 'Roboto Mono', monospace; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 15px 20px; 
    border-radius: 10px; 
    transition: background-color 0.3s; 
    box-sizing: border-box; 
    width: calc(100% - 40px); 
}
.menu a:hover {
    text-decoration: underline; 
}
.menu.open {
    width: 100%; 
    display: block; 
}
.no-scroll {
    overflow: hidden;
}