#boton01, #boton02, #boton03, #boton04, #boton05, #boton06, #boton07, #boton08{
    display: none;
    font-size: 30px;
    background-color: rgb(146, 146, 146);
}
#caja1, #caja2, #caja3, #caja4, #caja5, #caja6, #caja7, #caja8{
    display: none;
    font-size: 22.5rem;
}
