body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo img{
  width:17%;
}

.contenido {
  display: flex;
  flex-direction: column;
}

.contenido article {
  margin-top: 10px;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.contenido article img {
  width: 420px;
  height: 280px;
  margin-bottom: 10px;
}

.contenido article h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
color: rgb(51, 0, 102);
}
.contenido article div {
  padding: 30px;
}

.contenido article div h4 {
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.imagen-encima {
  position: absolute; /* Superpone la imagen */
  top: 21.5%; /* Ajusta según sea necesario para subir la imagen */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la imagen para centrarla */
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción */
  z-index: 10; /* Asegura que esté encima */
}
.imagenrecuadro{
  border: 5px solid rgb(51, 0, 102); /* Ajusta el grosor y el color del borde */
    border-radius: 10px; /* Opcional: agrega bordes redondeados */
    padding: 5px; /* Opcional: agrega espacio entre el borde y la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: agrega una sombra */
}