body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo img{
  width:17%;
}

.contenido {
  display: flex;
  flex-direction: column;
}

.contenido article {
  margin-top: 10px;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.contenido article img {
  width: 420px;
  height: 280px;
  margin-bottom: 10px;
}

.contenido article h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: rgb(51, 0, 102);
  text-shadow: #5E2962;
}
.contenido article div {
  padding: 30px;
}

.contenido article div h4 {
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.imagen-encima {
  top: 150px;
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 300px !important; 
  z-index: 10%;
  height: 300px;
}
.imagenrecuadro{
  border: 5px solid rgb(51, 0, 102); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.texto-uniforme {
  font-size: 25px; /* Ajusta el tamaño de la fuente según lo que necesites */
  line-height: 1.5; /* Mantiene el espacio entre líneas */
  color: #000; /* Color del texto */
}
