body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(193, 188, 188);
}

.logo {
  background-color: gray;
  text-align: center;
}
.logo img{
  width: 15%;
}

.contenido {
  display: flex;
  flex-direction: column;
}

.contenido article {
  margin-top: 10px;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.contenido article img {
  width: 380px;
  height: 240px;
  margin-bottom: 10px;
}

.contenido article h2 {
  font-size: 30px;
  text-align: center;
}

.contenido article div {
  padding: 30px;
}

.contenido article div h4 {
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.h2{
font-size: 30px;
}